{% extends "@Game/layout.html.twig" %}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="css/index.css">
{% endblock %}

{% block main_page %}
    <div class="mainstartblock">
        <button id="new" type="button" class="btn btn-success">New</button>
        <button id="save" type="button" class="btn btn-primary">Save</button>
        <button id="load" type="button" class="btn btn-primary">Load</button>
        {% if app.session.get('name') %}
            <button id="cancel" type="button" class="btn btn-danger">Cancel</button>
        {% endif %}
        <br>
        <br>
        <div class="playerName">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
        <div class="loadGame">
            {% for file in files %}
                <button class="files__btn" type="button">{{ file }}</button>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script>
        $('.playerName').hide();
        $('.loadGame').hide();

    $('#new').click(function(){
        $('.playerName').show();
    });

    $('#cancel').click(function(){
        {% if app.session.get('name') %}
            window.location.href = "{{ path('worldmap') }}";
        {% endif %}
    });

    $('#save').click(function(){
        $.post( "{{ path('save') }}", function() {
        })
            .done(function() {
                alert( "success" );
            })
            .fail(function() {
                alert( "Something went wrong" );
            })
    });

        $('#load').click(function(){
            $('.loadGame').show();
        });

        $('.files__btn').on('click', function(e) {
            var filename = $(e.target).text();
            $.ajax({
                type: 'GET',
                url: "{{ url('load') }}",
                data: {
                    filename: filename
                },
                success: function(data) {
                    if (data.success === true) {
                        window.location.href = "{{ url('worldmap') }}";
                    }
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });

    </script>
{% endblock %}